.card_container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    top: 0px;
    gap: 20px;
    border-top: 2px solid red;
    margin-left: 5%;
    margin-right: 5%;
}
.inner_container {
    display: flex;
}
.title_text {
    padding-top: 100px;
    margin-left: 5%;
}
.zoom {
  transition: transform .2s; /* Animation */
  margin: 0 auto;
}
.zoom:hover {
    transform: scale(1.02); 
  }