.footer-section {
    height: 350px;
    background-color: rgb(31, 29, 29);
    color: white;
    padding: 5%;
}
.inner_section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
li {
    list-style: none;
    margin-top: 7px;
}
.social {
    display: flex;
    flex-direction: row;
    gap: 5px;
}
a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    
}
.lower_section {
    border-top: 1px solid grey;
    margin-top: 45px;
    text-align: center;
    font-size: 12px;
    padding-top: 10px;
}

h5 {
    text-decoration: underline;
}