.footer-section {
    height: 500px;
    background-color: rgb(31, 29, 29);
    color: white;
    padding: 5%;
}

.inner_section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

